################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testDuration/testDuration/bin/Debug
/testDuration/testDuration/obj/Debug
